body {
  font-family: Arial;
  margin: 0;
  padding: 20px;
  background: #f4f6f8;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}
.card {
  padding: 20px;
  border-radius: 8px;
  color: #fff;
}
.blue {
  background: #3498db;
}
.yellow {
  background: #f1c40f;
}
.red {
  background: #e74c3c;
}
table {
  width: 100%;
  background: #fff;
  border-collapse: collapse;
}
td,
th {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  width: 300px;
}
input,
textarea,
button {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
}
